<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="login">

  <!-- <div class="container">

    <div class="center-container">
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/logo.png"/>
        </div>
  
        <div class="col-sm-8">
          <h4 class="mainheading">
            <br>
            Are you a <b>parent?</b> and want to help your children improve their children’s 
            literacy levels by fostering positive reading and learning environments at home
            <br>
            
          </h4>
        </div>
      </div>
  
      <div class="row">
        <p class="mainheading mt-3" style="font-size: 16px;">
          <b>You are at right place</b>, We empower and support families and organizations with the programs 
            and tools to teach and inspire children to write and read. We work with local
             partners to <b>promote and improve literacy</b> in the Kingston-Galloway-Orton Park 
             (KGO) area.
        </p>
      </div>
  
      <div class="row mt-4">
        <div class="col">
          <button onclick="window.location.href='/users/register'" type="button" class="btn btn-primary ps-5 pe-5 fw-bold">Get Started Today</button>
        </div>
      </div>
    </div>
  </div> -->


  <section class="h-70 gradient-form">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="hidethebox d-flex align-items-center gradient-custom-2 text-center">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <img src="/images/logo.png" />
                  <h2 class="mb-4 mt-2 fw-bolder" style="font-family: 'Courier New', Courier, monospace;">The Reading
                    Partnership - Learning Platform</h2>
                  <p class="mb-0">Are you a <b>parent?</b> and want to help your children improve their children’s
                    literacy levels by fostering positive reading and learning environments at home.</p>

                  <p class="mt-1 small"><b>You are at right place</b>, We empower and support families and organizations
                    with the programs
                    and tools to teach and inspire children to write and read. We work with local
                    partners to <b>promote and improve literacy</b> in the Kingston-Galloway-Orton Park
                    (KGO) area.</p>

                    <div>

                      <button onclick="window.location.href='/users/register'" type="button"
                      class="btn btn-primary ps-5 pe-5 mt-1 fw-bold">New! Get Started Today</button>
                      <button onclick="window.location.href='/login'" type="button"
                        class="btn btn-warning ps-5 mt-1 pe-5">Already Registered, Start learning</button>
                    </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/reload/reload.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>